*{
    margin: 0;
    padding: 0;
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: monospace;
}

/* couleur boutton vert : #177A12 */

/* <button class="button-70" role="button">Button 70</button> */

/* CSS */
/* button{
  background-image: linear-gradient(#177A12, rgb(52, 197, 44));
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat,sans-serif;
  font-size: .9em;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
} */

p{
    font-size: 20px;
}

.logo {
    font-size: 20px;
}



.info{
    font-size: 15px;
}


body{
    height: 100%;
}

.navbar{
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 999;
    background-color: black;
}

.navbar .logo h1{
    color: white;
    cursor: pointer;
    
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    margin-left: 20px;
    color: white;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
/* .navbar .menu li a:hover{
    color: rgb(51, 199, 18);
} */

.navbar a{
    text-decoration: none;
    color: white;
}

.user{
    color: white;
}

/* .produits{
    text-align: left;
    font-size: 30px;
    font-weight: 300;
    margin-top: 30px;
    margin-left: 80px;
    color: black;
} */

.section_produits{
    padding: 40px 5%;
}

.produits{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.produits .carte{
    width: auto;
    margin-bottom: 20px;
}

.produits .carte img{
    height: 250px;
    width: auto;
}

.produits .carte .titre{
    font-weight: 900;
    font-size: 20px;
    color: black;
}

.produits .carte .prixIndex{
    font-weight: 525;
    font-size: 15px;
    color: black;
}

.carte a{
    text-decoration: none;
    color: black;
}



footer{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    /* height: auto; */
    text-align: center;
    /* padding-bottom: 20px; */

}

.info{
    line-height: 5vh;
    color: white;
}

.copyR{
    line-height: 10vh;
    color: white;

}


/* .imageIndex{
    width: max-content;
    height: auto;
} */

#imgIndex1{
    width: 100vw;
    height: auto;
}


/* footer h3{
    text-align: center;
    line-height: 10vh;
    color: white;
} */

footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* .insta{
    padding-bottom: 10px;
    padding-top: 10px;
} */






.contenairArticle{
    display: flex;
    flex-direction: row;
    margin: 30px;
}

.contenairDetail{
    padding-left: 30px;
}

#nameArticle{
    margin-bottom: 5px;
}

#imageArticle{
    height: 500px;
}

.separationArticle{
    border-top: solid 1px black;
}

input[type='radio'] {
    color: #fc0707;
}

.choixTailleArticle{
    display: flex;
    flex-direction: row;
}









.formulaireLogin{
    border: solid 2px rgb(0, 0, 0);
    border-radius: 20px;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 25px;
    padding-bottom: 25px;

}

button{
    padding: 0 20px;
    font-size: 1rem;
}

.contenairLog{
    margin: 30px;
    padding: 50px;
}